* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    margin: 0 auto;
    background: #1f1f1f !important; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
canvas {
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
.box {
    background: white;
}

.tall-box{
    border-radius: 10px;
}
.small-box {
    height: 100px;
    border-radius: 10px;
}

.small-box2 {
    height: 110px;
    margin-top: -10px;
    border-radius: 0px 0px 10px 10px;
    background: #1a0804;
} 

.col-lg-4 .box{
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
    text-align: center;
    font-family: "VT323", monospace;
     background: url(/img/FondoHero.jpg); 
     background-size: cover;
     background-repeat: no-repeat;
}

.col-lg-4 .box h3 {
    color: white;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: "VT323", monospace;
}

.Vidas{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a0804;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 30px;
}

.life-icon{
    width: 80px;
    height: auto;
    margin-right: 5px;
}

.Opciones{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a0804;
    gap: 10px;
}

.Opciones img{
    width: 80px;
    cursor: pointer;
    transition: .3s all;
}

.Opciones img:hover{
    transform: scale(1.1);
}
